@use "bootstrap";

body {
    background-color: #212529;
    height: 100vh;
    display: flex;
    justify-content: center;


    thead {
        background-color: silver;

        th {
            font-size: 16px;
        }
    }

    tbody {
        td {
            font-size: 14px;
        }
    }

    .color-1 {
        background-color: lightgray;
    }

    .color-2 {
        background-color: whitesmoke;
    }
}